---
title: downloads
layout: default
---

<header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p>
        Thanks for checking out my work. You are welcome to use the samples and content below royalty free. 
        All samples are published here under the Creative Commons CC0 license. 
        <!-- If you use the content below consider supporting me on ko-fi. 
        {% include support-me-on-kofi.html %} -->
    </p>
</header>

<body>
    {% for download in site.data.downloads %}
          <section>
                <div>
                    <h3 >{{download.name}}
                    <span class="downloads--a-link"><a  href = "{{download.link}}">download</a></span></h3>
                </div>
                <p class= "post-content">{{download.description}}</p>
          </section>  
           
    {% endfor %}
</body>