
{% assign max = site.data.tidalsnippets.size %}

{% assign randomNumber = "now" | date: "%N" | modulo: max %}
{% assign randomNumber1 = "now" | date: "%N" | modulo: max %}
{% assign randomNumber2 = "now" | date: "%N" | modulo: max %}

{% assign snippets = site.data.tidalsnippets %}

<div class="insert--div-tidalcode">


<code class="language-haskell insert--code-tidalcode">
{{ snippets[randomNumber].code }}
</code>
<code class="language-haskell insert--code-tidalcode">
    {{ snippets[randomNumber1].code }}
    </code>
    <code class="language-haskell insert--code-tidalcode">
        {{ snippets[randomNumber2].code }}
        </code>
<!-- {% for snippet in snippets %} -->
<!-- {% endfor %} -->

</div>

