---
---

@import "{{ site.theme }}";

.iframe--player-container{
    max-width: 700px;
}

.li--span-location{
    font-size: 80%;
    text-transform: uppercase;
}

.li--span-name{
    font-size: 85%;
}

.li--span-date{
    text-transform: uppercase;
    font-weight: bold;
    font-style: oblique;
    font-size:100%;
}

.li--span-seperator{
    font-size: 70%;
}

.shows span {
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;

  }

.bg {
    /* The image used */
    background-image: url('/assets/images/background.jpg');

    // /* Full height */
    height: 7em; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    // background-size: 100% auto;
}
  
.footer--p-credit {
    font-style: italic;
    font-size: 85%;
}

.background-div--effect{
    position:static;
    z-index: -1;
    top:0;
    right:0;

}

.insert--div-tidalcode{
    position: fixed;
    perspective: 1px;
    text-align: center;
    font-family: 'Gilda Display', serif;

    text-align: center;
    width: 100%;
    height: 120px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    right: 0;
    -webkit-animation: noise-3 1s linear infinite;
            animation: noise-3 1s linear infinite;
    overflow: default;
    opacity: 0.1;
    z-index: -1;
}

.insert--code-tidalcode:nth-child(1){
    top: 9%;
    right: 10em;
    background: none;
    font-size: 2em;
}

.insert--code-tidalcode:nth-child(2){
    top: 7%;
    right: 30em;
    font-size: 1em;
}

.insert--code-tidalcode:nth-child(3){
    top: 13%;
    right: 24%;
    font-size: 3em;
}

div.insert--div-tidalcode>code.insert--code-tidalcode{
    position: absolute;
    background: none;
    border:none;
    z-index: -1;
}