<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {%- include head.html -%}

  <body>
    <script src="/assets/scripts/prism.js"></script>
      

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
    {% if page.show_players %}
    <div class="wrapper">
        <iframe class = "iframe--player-container" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4149752299/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://detund.bandcamp.com/album/compression-artifacts">Compression Artifacts by XiNNiW</a></iframe>
    </div>
    {% endif %}
      <div class="background-div--effect">
        {%- include tidal_code.html -%}
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
      
    </main>

    {%- include footer.html -%}

  </body>

</html>

